/*Schrijf hier jouw CSS*/
body {
    /*border: 2px solid greenyellow;*/
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

/* dit is het div-element*/
.col-2 {
    /*border: 2px dotted deeppink;*/
    display: flex;
    flex-direction: column;
    /*Omdat deze div in een row-container staat, gaat flex-basis hier over de BREEDTE. We willen dat dit item alle
    overgebleven ruimte inneemt, dus zetten we de breedte op auto en regelen we de rest met de grow-property*/
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

main {
    /*border: 2px dotted blue;*/
    display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

/* dit is het nav element */
.col-1 {
    flex-basis: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
}

header,
footer {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

article {
    /*Omdat article in een row-container staat, gaat flex-basis hier over de BREEDTE. We willen dat dit item alle
    overgebleven ruimte inneemt, dus zetten we de breedte op auto en regelen we de rest met de grow-property*/
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

aside {
    flex-basis: 20vw;
    flex-grow: 0;
    flex-shrink: 0;
}